<IfModule mod_rewrite.c>
	DirectoryIndex /web/index.php
	RewriteEngine On
    RewriteBase /
    RewriteCond %{DOCUMENT_ROOT}/web/%{REQUEST_URI} -f
    RewriteRule ^(.+) /web/$1 [L]
    RewriteRule ^(.*)$ /web/ [QSA,L]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress