@media only screen and (max-width: 440px){
    .next-news_or_event-wrapp .next__newstitle {
        width: 100%;
    }

    .next-news_or_event-wrapp .img {
        width: 208px;
        height: 208px;
    }

    .next-news_or_event-wrapp .img img {
        width: 208px;
        height: 208px;
    }

  

}